{% extends 'Authentication/account_base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Login{% endblock title %}

{% block content %}



<div class="col-lg-6">
    <div class="p-lg-5 p-4">
        <div class="text-center">
            <h5 class="mb-0">Welcome Back !</h5>
            <p class="text-muted mt-2">Log in to continue to <span class="fw-bold">POWER REMIND</span></p>
        </div>

        <div class="mt-4">
            <form class="needs-validation auth-input" novalidate method="POST">
                {% csrf_token %}
                {% if messages %}
                  <script>
                    document.addEventListener("DOMContentLoaded", function() {
                      {% for message in messages %}
                        Swal.fire({
                          title: "{% if message.tags == 'error' %}Error{% elif message.tags == 'success' %}Success{% elif message.tags == 'warning' %}Warning{% else %}Info{% endif %}",
                          text: "{{ message }}",
                          icon: "{% if message.tags == 'error' %}error{% elif message.tags == 'success' %}success{% elif message.tags == 'warning' %}warning{% else %}info{% endif %}",
                          confirmButtonText: "OK"
                        });
                      {% endfor %}
                    });
                  </script>
                {% endif %}
                <div class="mb-3">
                    <!-- Floating Input -->
                    <div class="form-floating hstack">
                        <input type="text" name="user_name" class="form-control" id="firstnamefloatingInput" placeholder="Enter your firstname">
                        <label for="firstnamefloatingInput" class="hstack "><i class="ri-user-line"></i>&nbsp;&nbsp;User Name</label>
                    </div>
                </div>
                <div class="mb-3">
                    <!-- Floating Input -->
                    <div class="form-floating hstack">
                        <input type="password" name="password" class="form-control" id="Inputpassword" placeholder="Enter your firstname">
                        <label for="Inputpassword" class="hstack form-label"><i class="ri-lock-line"></i>&nbsp;&nbsp;Password</label>
                        <i class="ri-eye-line mt-2" id="togglePassword" style="cursor: pointer; position: absolute; right: 10px; top: 12px;"></i>
   
                    </div>
                </div>
             


                <div class="mt-2">
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                  
                </div>

            </form>
        </div>

    </div>
</div>


{% endblock content %}

{% block extra_js %}

<!-- password-addon init -->
<script src="{% static 'js/pages/password-addon.init.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    // Select the password input and the icon
    const passwordInput = document.getElementById('Inputpassword');
    const togglePasswordIcon = document.getElementById('togglePassword');
    
    // Add a click event to the icon
    togglePasswordIcon.addEventListener('click', function () {
        // Toggle the type of the password input between 'password' and 'text'
        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            togglePasswordIcon.classList.remove('ri-eye-line');
            togglePasswordIcon.classList.add('ri-eye-off-line');
        } else {
            passwordInput.type = 'password';
            togglePasswordIcon.classList.remove('ri-eye-off-line');
            togglePasswordIcon.classList.add('ri-eye-line');
        }
    });

    
</script>


{% endblock extra_js %}